

@{
    Layout = null;
}
@{
    var ctx = new YummyOnlineDAO.Models.YummyOnlineContext();
    var result = ctx.Articles.Select(s => new { s.Id, s.Title, s.PicturePath, s.Description, s.Body, s.DateTime }).OrderByDescending(d => d.Id);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>商户信息</title>
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.css" />
    <link rel="stylesheet" href="~/node_modules/materialize-v0.97.7/materialize/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <style type="text/css">
        <!--
        .second {
            width: 100px;
            height: 125px;
            overflow: hidden;
        }

        .first {
            width: auto;
            height: 300px;
            overflow: hidden;
            position: relative;
            clip: rect(0 0 0 0);
        }
    </style>
    <div class="container">
        @{
            bool isTimeChanged = true;
            String lastString = "";
        }
        @foreach (var i in result)
            {

                String date = i.DateTime.ToShortDateString();
                if (date != lastString)
                {
                    lastString = date;
                    isTimeChanged = true;
                }
                else
                {
                    isTimeChanged = false;
                }
                if (isTimeChanged)
                {
                <div class="row">
                    <div class="col-sm- s8 offset-l2">
                        <div class="card">
                            <div class="card-image first">
                                <a href="MerchantInfo/Info?article=@i.Id"><img src="@i.PicturePath"></a>
                                <span class="card-title" id="title">@i.Title</span>
                            </div>
                            <div class="card-content" id="information">
                                <p>
                                    @i.Description
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="MerchantInfo/Info?article=@i.Id">点击阅读全文</a>
                                @*<a href="@i.Body">点击阅读全文</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-sm- s8 offset-l2">
                        <div class="card horizontal">
                            <div class="second card-image">
                                <a href="MerchantInfo/Info?article=@i.Id"><img src="@i.PicturePath" class="second"></a>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>@i.Description</p>
                                </div>
                                <div class="card-action">
                                    <a href="MerchantInfo/Info?article=@i.Id">点击阅读全文</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</body>
</html>